.zero {
  &__head {
    padding: 80px 100px;
    padding-bottom: 0;
    @include laptop {
      padding: 64px 55px;
      padding-bottom: 0;
    }
    @include mobile {
      padding: 30px;
      padding-bottom: 100px;
      img {
        height: 35px;
      }
    }
  }
  &__form {
    width: 413px;
    padding: 60px 30px;
    @include laptop {
      width: 395px;
    }
    @include mobile {
      width: 100%;
      padding-top: 0;
    }
  }
  &__foot {
    margin-right: 100px;
    margin-bottom: 64px;
    height: 60px;
    @include laptop {
      margin-bottom: 50px;
      margin-right: 50px;
    }
    @include mobile {
      display: none;
    }
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      left: -70%;
      top: 0;
      bottom: 0;
      background: #004798;
      z-index: -1;
      @include desktop {
        display: none;
      }
    }
    &-image {
      width: 1628px;
      height: 60px;
      position: absolute;
      right: 0;
      top: 0;
      max-width: none;
    }
  }
  &__logo {
    margin-bottom: 50px;
    @include mobile {
      margin-top: -26px;
      margin-bottom: 40px;
    }
    img {
      @include laptop {
        width: 222px;
      }
    }
  }
  &__body {
    padding: 0 100px;
    @include mobile {
      padding: 0;
    }
  }
}
