header.my-3
	.container.d-flex.justify-content-between.align-items-md-center.flex-column.flex-md-row
		+breadcrumbs(bread)
		.d-flex
			a(href="#")
				b.text-base Павел Павлов
			spam.text-sm.mx-2 |
			span.text-sm 99.999 баллов
