-
	const data = {
		button: {
			signIn: 'Войти',
			logout: 'Выйти'
		},
		header: {
			logo: './images/logo.svg'
		},
		main: {
			image: './images/other/main.webp',
			restorePass: 'Восстановить пароль'
		},
		breadcrumbs: [
			{value: 'Главная', url: 'index.html'},
			{value: '....', url: '#'},
		],
		bread: [
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Новая продажа', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Добавить участника', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Список участников', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Баланс', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Кошелек', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Калькулятор', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Рейтинг', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Профиль', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Фотоотчеты', url: '#'},
			],
			[
				{value: 'Главная', url: 'index.html'},
				{value: 'Помощь', url: '#'},
			],
		],
		user: {
			name: 'Павел Павлов',
			post: 'Управление маркетингом',
			post1: 'Маркетолог'
		},
		userMenu: [
			{value: 'B2С', url: '#', icon: 'st'},
			{value: 'Настройки', url: '#'},
			{value: 'Помощь', url: '#'},
		],
		userMenu1: [
			{value: 'B2С', url: '#', icon: 'st'},
			{label: 'Баллы', value: '99.999'},
			{label: 'Кошелек', value: '50.000'},
			{value: 'Настройки', url: '#'},
			{value: 'Помощь', url: '#'},
		],
		userMenu2: [
			{value: 'B2С', url: '#', icon: 'st'},
			{label: 'Рейтинг', value: '8'},
			{label: 'Баллы', value: '99.999'},
			{label: 'Кошелек', value: '50.000'},
			{value: 'Настройки', url: '#'},
			{value: 'Помощь', url: '#'},
		],
		menu: [
			{value: 'Аналитика', url: '#'},
			{value: 'Правила', url: '#'}
		],
		menu1: [
			{value: 'Участники', url: '#'},
			{value: 'Аналитика', url: '#'},
			{value: 'Фотоотчеты', url: '#'},
			{value: 'Правила', url: '#'},
		],
		menu2: [
			{value: 'Участники', url: '#'},
			{value: 'Мотивация', url: '#'},
			{value: 'Аналитика', url: '#'},
			{value: 'Калькулятор', url: '#'},
			{value: 'Правила', url: '#'}
		],
		calc: {
			itog: 'итого <span class="cl-red">180 баллов</span>'
		},
		rating: [
			{
				id: '1',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '2',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '3',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '4',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '5',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '6',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '7',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '8',
				idClass: 'is-red',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '9',
				idClass: 'is-red',
				name: 'Максим Г.',
				price: '99 999'
			},
			{
				id: '10',
				idClass: 'is-red',
				name: 'Максим Г.',
				price: '99 999'
			},
		],
		profile: {
			field1: 'Телефон<br>E-mail'
		},
		list: [
			{id: '1', name: 'Сергей Е.'},
			{id: '2', name: 'Михаил Л.'},
			{id: '3', name: 'Александр П.'},
			{id: '4', name: 'Антон Ч.'},
			{id: '8', name: 'Павел П.', className: 'is-red'},
		]
	};
