mixin breadcrumbs(items)
	nav(aria-label="breadcrumb")&attributes(attributes)
		ol(class="breadcrumb")
			each item, key in items
				if (item.url)
					li(class="breadcrumb-item"): a(href=item.url): != item.value
				else
					li: != item.value
