mixin button(button)
	if(button.url)
		a.btn(href=button.url)&attributes(attributes): != button.value
	else
		if(button.value)
			button.btn&attributes(attributes): != button.value
		else
			button.btn&attributes(attributes): != button
