mixin menu(items, active)
	ul&attributes(attributes)
		each item, key in items
			if(active === key)
				li.is-active
					a(href=item.url)
						!= item.value
						if(item.icon)
							+svg(item.icon)(width="18" height="18")
			else
				li
					a(href=item.url)
						!= item.value
						if(item.icon)
							+svg(item.icon)(width="18" height="18")
