mixin title(value, tag)
	case tag
		when 'h1': h1&attributes(attributes): != value
		when 'h3': h3&attributes(attributes): != value
		when 'h4': h4&attributes(attributes): != value
		when 'h5': h5&attributes(attributes): != value
		when 'h6': h6&attributes(attributes): != value
		default: h2&attributes(attributes): != value
