main.main.grow.flex
	.container.flex.flex-column
		+title('Новая продажа', 'h1').h1
		form.shadow-lg.mt-5.rounded-md.max-w-640.p-6.mb-4
			.form-group.max-w-336
				label(for="dateSale") Дата продажи
				input.form-control.form-control-gray.form-control-date(type="text" id="dateSale" aria-describedby="dateSale" placeholder="__  __ ____ г.")
			.form-group.max-w-336
				label(for="innSale") Дата продажи
				input.form-control.form-control-gray(type="text" id="innSale" aria-describedby="innSale" placeholder="ИНН (10 цифр для ЮЛ, 12  для ИП)")
			.form-group.max-w-336
				label(for="nameSale") Название
				input.form-control.form-control-gray(type="text" id="nameSale" aria-describedby="nameSale" placeholder="ООО “Автозаполнение”")
			.form-group.max-w-336
				label(for="locSale") Адрес ЮЛ
				input.form-control.form-control-gray(type="text" id="locSale" aria-describedby="locSale" placeholder="г. Москва Автозаполнение")
			.form-group.max-w-336
				label(for="sel1") Фактический адрес
				select.form-control.form-control-gray(id="sel1")
					option г. Москва ул. Б. Никитская 20
					option г. Москва ул. Б. Никитская 10
			hr.my-5
			.d-flex
				.form-group.max-w-336.w-full
					label(for="sel2") SKU
					select.form-control.form-control-gray.w-full(id="sel2")
						option Моторное масло TEBOIL 5W-40
				.form-group.ml-2
					label(for="sel3") Объем
					select.form-control.form-control-gray.w-65(id="sel3")
						option 4
				.form-group.ml-2
					label(for="sel4") Кол-во
					select.form-control.form-control-gray.w-65(id="sel4")
						option 1
				.form-group.ml-3
					label &nbsp;
					.form-add.d-flex-center: +svg('add')(width="24" height="24")

			.d-flex.pt-2
				button.btn.btn-blue.mr-4.w-156 Сохранить
				button.btn.btn-gray.w-156 Отменить
