@font-face {
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

body {
  font-family: 'Montserrat', 'sans-serif';
  color: #004798;
  font-weight: 500; }

a {
  color: #004798; }
  a:link, a:hover {
    color: #004798; }

hr {
  border-bottom: 1px solid #eaebeb; }

picture {
  width: 100%; }
  picture img {
    width: 100%; }

.app {
  min-width: 300px;
  min-height: 100vh;
  overflow: hidden; }

.text-m {
  font-size: 0.75rem; }

.text-sm {
  font-size: 0.875rem; }

.text-base {
  font-size: 1rem; }

.text-lg {
  font-size: 1.125rem; }

.text-xl {
  font-size: 1.25rem; }

.text-s44 {
  font-size: 2.75rem; }

.js-lazy {
  opacity: 0;
  transition: 0.3s; }
  .js-lazy.is-loaded {
    opacity: 1; }

.link-blue {
  color: #004798;
  border-bottom: 1px solid rgba(0, 71, 152, 0.8); }
  .link-blue:hover {
    color: #004798;
    border-bottom: 1px solid rgba(0, 71, 152, 0);
    transition: all 0.3s ease; }

.link-blue-1 {
  color: #004798;
  border-bottom: 1px solid rgba(0, 71, 152, 0); }
  .link-blue-1:hover {
    color: #004798;
    border-bottom: 1px solid rgba(0, 71, 152, 0.7);
    transition: all 0.3s ease; }

.link-red {
  color: #e7332b !important;
  border-bottom: 1px solid rgba(231, 51, 43, 0.7) !important; }
  .link-red:hover {
    color: #e7332b !important;
    border-bottom: 1px solid rgba(231, 51, 43, 0) !important; }

.link-red-1 {
  color: #e7332b !important;
  border-bottom: 1px solid rgba(231, 51, 43, 0) !important; }
  .link-red-1:hover {
    color: #e7332b !important;
    border-bottom: 1px solid rgba(231, 51, 43, 0.8) !important; }

.lh-2 {
  line-height: 1.2; }

.cl-red {
  color: #e7332b; }

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.bg-red {
  background-color: #e7332b; }

.bg-blue {
  background: #004798; }

.bg-gray {
  background: #EAEBEB; }

.bl-100 {
  min-width: 100px;
  width: 100px;
  height: 100px; }

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #004798; }
  .menu li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #004798; }
    .menu li a {
      display: flex;
      text-align: left;
      justify-content: space-between;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 500;
      color: #004798;
      padding: 12px;
      transition: all 0.3s ease; }
      .menu li a:hover {
        color: #004798;
        background: rgba(0, 0, 0, 0.02); }
    .menu li span {
      padding: 12px; }
  .menu-white {
    border-bottom: 1px solid white; }
    .menu-white li {
      border-top: 1px solid white; }
      .menu-white li a {
        color: white; }
        .menu-white li a:hover {
          color: #004798;
          background: white; }

.footer {
  position: relative;
  z-index: 1;
  height: 40px; }
  .footer:before {
    content: '';
    position: absolute;
    left: 0;
    right: 70%;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #004798; }
  .footer-image {
    position: absolute;
    right: 50%;
    margin-right: -760px;
    top: 0;
    max-width: none;
    height: 60px; }
    @media (max-width: 1559px) {
      .footer-image {
        right: 20px;
        margin-right: 0; } }
  .footer-b {
    margin-top: 30px;
    margin-bottom: 50px; }

.breadcrumb {
  padding: 0;
  background: none;
  margin-bottom: 0;
  color: #004798;
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 0; }
  .breadcrumb a {
    color: #004798;
    border-bottom: 1px solid rgba(0, 71, 152, 0);
    transition: all 0.3s ease; }
    .breadcrumb a:hover {
      color: #004798;
      border-bottom: 1px solid rgba(0, 71, 152, 0.7); }

.mess {
  position: fixed;
  right: 20px;
  bottom: 50px; }
  @media (min-width: 1599px) {
    .mess {
      right: 50px;
      bottom: 100px; } }

.container {
  max-width: 100% !important; }
  @media (max-width: 991px) {
    .container-b2 {
      padding-left: 0;
      padding-right: 0; } }

.breadcrumb-item + .breadcrumb-item::before {
  content: '>'; }

.breadcrumb > li.breadcrumb-item {
  max-width: none; }

.shadow-lg {
  box-shadow: 0 4px 10px rgba(0, 71, 152, 0.15) !important; }

.h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 900;
  color: #004798; }
  @media (max-width: 767px) {
    .h1 {
      font-size: 1rem; } }

.h-100 {
  height: 100px; }

.h-250 {
  height: 250px; }

@media (max-width: 991px) {
  .h-lg-220 {
    height: 220px; } }

@media (max-width: 767px) {
  .h-md-155 {
    height: 155px; } }

.w-full {
  width: 100%; }

.w-65 {
  width: 65px; }

.w-76 {
  width: 76px; }

.w-100 {
  min-width: 100px;
  width: 100px; }

.w-180 {
  min-width: 180px;
  width: 180px; }

.w-156 {
  width: 156px; }

.w-185 {
  width: 185px; }

.w-215 {
  width: 215px;
  max-width: 215px; }

.w-237 {
  width: 237px;
  max-width: 237px; }

.w-280 {
  width: 280px;
  max-width: 280px; }

@media (max-width: 767px) {
  .w-md-126 {
    min-width: 126px;
    width: 126px; }
  .w-md-full {
    width: 100%;
    min-width: 100%; } }

.pagination {
  justify-content: center; }
  .pagination li.page-item {
    margin: 0 4px !important;
    font-size: 0.875rem;
    font-weight: 700;
    color: #004798; }
    .pagination li.page-item a.page-link {
      min-width: 25px;
      height: 25px;
      padding: 0;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      background: #EEF2F8 !important;
      color: #004798;
      border-radius: 0 !important; }
    .pagination li.page-item span {
      min-width: 25px;
      height: 25px;
      padding: 0;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center; }
    .pagination li.page-item:first-child a.page-link, .pagination li.page-item:last-child a.page-link {
      background: none !important;
      padding: 0 !important; }
      .pagination li.page-item:first-child a.page-link svg, .pagination li.page-item:last-child a.page-link svg {
        fill: none; }
    .pagination li.page-item:first-child {
      margin-right: 10px !important; }
    .pagination li.page-item:last-child {
      margin-left: 10px !important; }

.table-primary {
  background: none;
  font-size: 0.875rem;
  line-height: 1.2;
  border-spacing: 0; }
  .table-primary tr th {
    background: #004798;
    color: #FFFFFF;
    border: 0 !important;
    border-left: 12px solid #FFFFFF !important;
    padding: 16px 10px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .table-primary tr th {
        border-left: 6px solid #FFFFFF !important; } }
    .table-primary tr th:first-child {
      border-left: 0 !important; }
  .table-primary tr td {
    font-weight: 500;
    background: #EEF2F8;
    color: #004798;
    padding: 16px 10px;
    border-top: 12px solid #FFFFFF;
    border-left: 12px solid #FFFFFF; }
    @media (max-width: 767px) {
      .table-primary tr td {
        border-left: 6px solid #FFFFFF;
        border-top: 6px solid #FFFFFF; } }
    .table-primary tr td:first-child {
      border-left: 0 !important; }
    .table-primary tr td.td-btn {
      padding: 0; }

.table-btn {
  padding: 0;
  min-width: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; }
  .table-btn svg {
    fill: none; }

.table-nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  max-width: 150px; }

.table-sel-th {
  background: #EEF2F8 !important; }

.table-bg-none {
  background: none !important; }

.table-rating tr td {
  padding: 20px 10px;
  vertical-align: middle;
  font-size: 1rem;
  color: #004798;
  border-top: 1px solid rgba(0, 71, 152, 0.4); }

.table-rating tr:first-child td {
  border: 0; }

.table-rating-id {
  min-width: 38px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #004798;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 1.25rem; }
  .table-rating-id.is-red {
    background: #E7332B; }

.tab-balance {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #eaebeb; }
  .tab-balance li {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 30px 26px;
    border-top: 1px solid #eaebeb; }
    .tab-balance li i {
      min-width: 44px;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #004798;
      margin-right: 30px; }
    .tab-balance li span {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2; }
      .tab-balance li span b {
        display: block;
        margin-top: 5px; }
    .tab-balance li.is-active {
      background: #EEF2F8; }

.gap-4 {
  gap: 4px; }

.gap-5 {
  gap: 5px; }

.gap-40 {
  gap: 40px; }

.gap-80 {
  gap: 80px; }

@media (max-width: 991px) {
  .gap-lp-30 {
    gap: 30px; } }

.scroll {
  overflow: auto; }
  .scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .scroll::-webkit-scrollbar-track {
    background-color: #BFD3EE; }
  .scroll::-webkit-scrollbar-thumb {
    box-shadow: none;
    background: #8AA5CA; }

.nowrap {
  white-space: nowrap; }

.wallet {
  display: flex;
  align-items: center;
  padding: 30px 26px;
  border-top: 1px solid #eaebeb;
  border-bottom: 1px solid #eaebeb; }
  .wallet i {
    min-width: 44px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #E7332B;
    margin-right: 30px; }
    .wallet i svg {
      fill: none; }
  .wallet span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; }
    .wallet span b {
      display: block;
      margin-top: 5px; }

.max-w-180 {
  max-width: 180px; }

.max-w-190 {
  max-width: 190px; }

.max-w-336 {
  max-width: 336px; }

.max-w-548 {
  max-width: 548px; }

.max-w-500 {
  max-width: 500px; }

.max-w-640 {
  max-width: 640px; }

.max-h-700 {
  max-height: 700px; }

.min-h-90 {
  min-height: 90px; }

.relative {
  position: relative;
  z-index: 1; }

.transfer-card__frame {
  border: 1px solid #8FA8CC;
  height: 40px;
  padding: 0 24px 0 4px;
  font-size: 1rem;
  font-weight: 500; }

.transfer-card__image {
  width: 56px;
  height: 32px;
  margin-right: 10px; }

.transfer-card__clear {
  cursor: pointer; }

.box {
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 71, 152, 0.15);
  border-radius: 5px; }

.photos {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 33px; }

.help {
  border-bottom: 1px solid rgba(0, 71, 152, 0.4); }
  .help-item {
    min-height: 116px;
    border-top: 1px solid rgba(0, 71, 152, 0.4); }

.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }
  .logo a {
    margin-left: -100px; }
    @media (max-width: 991px) {
      .logo a {
        margin-left: 0; } }
  @media (max-width: 767px) {
    .logo img {
      width: 137px; } }

.fs-40 {
  font-size: 2.5rem; }

@media (max-width: 1399px) {
  .fs-ds-32 {
    font-size: 2rem; } }

@media (max-width: 991px) {
  .fs-lg-24 {
    font-size: 1.5rem; }
  .fs-lg-32 {
    font-size: 2rem; } }

@media (max-width: 767px) {
  .fs-md-24 {
    font-size: 1.5rem; } }

.fw-9 {
  font-weight: 900; }

.fh-1 {
  line-height: 1.1; }

.upp {
  text-transform: uppercase; }

.aside {
  width: 190px;
  min-width: 190px; }
  @media (max-width: 991px) {
    .aside {
      position: absolute;
      top: 0;
      z-index: 50;
      min-height: 100vh;
      width: 250px;
      transition: all 0.3s ease; } }
  .aside-left {
    padding-top: 219px;
    padding-bottom: 100px; }
    @media (max-width: 991px) {
      .aside-left {
        padding-top: 107px;
        left: 0;
        transform: translateX(-100%); }
        .aside-left.is-active {
          transform: translateX(0); } }
  @media (max-width: 991px) {
    .aside-right {
      right: -190px;
      transform: translateX(0); }
      .aside-right.is-active {
        right: 0; } }

.buttons span {
  position: relative;
  z-index: 10; }

.info {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 192px;
  position: relative; }
  @media (max-width: 767px) {
    .info {
      margin-top: 130px; } }
  .info__image {
    min-width: 990px;
    width: 990px;
    margin: 0 -200px; }
    @media (max-width: 767px) {
      .info__image {
        min-width: 800px;
        width: 800px; } }
    @media (max-width: 549px) {
      .info__image {
        min-width: 600px;
        width: 600px; } }
  .info__table {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 767px) {
      .info__table img {
        width: 400px; } }
    @media (max-width: 549px) {
      .info__table img {
        width: 300px; } }

.down-info {
  display: grid;
  gap: 4px; }
  .down-info-3 {
    grid-template-columns: 1fr 1fr 1fr; }
    @media (max-width: 767px) {
      .down-info-3 {
        grid-template-columns: 1fr; } }
  .down-info-4 {
    grid-template-columns: 1fr 1fr 1fr; }
    @media (max-width: 991px) {
      .down-info-4 {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 767px) {
      .down-info-4 {
        grid-template-columns: 1fr; } }
  .down-info__list {
    position: absolute;
    right: 195px;
    top: 0;
    z-index: 15;
    width: 295px;
    padding: 0;
    margin: 0 0.75rem 0 0; }
    @media (max-width: 991px) {
      .down-info__list {
        position: relative;
        right: auto;
        top: auto;
        margin: 0;
        width: 100%;
        background: #004798; } }
    .down-info__list li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: rgba(238, 242, 248, 0.75);
      padding: 8px 17px;
      margin-bottom: 5px; }
      @media (max-width: 991px) {
        .down-info__list li {
          padding: 5px 17px; } }
      .down-info__list li:last-child {
        margin-bottom: 0; }
      .down-info__list li span {
        font-size: 1rem;
        color: #004798;
        white-space: nowrap; }
      .down-info__list li img {
        width: 68px;
        margin: 0 27px; }
      .down-info__list li i {
        min-width: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #004798;
        font-weight: 500;
        font-size: 1rem;
        color: #FFFFFF;
        font-style: normal; }
        .down-info__list li i.is-red {
          background: #E7332B; }

.underline {
  text-decoration: underline; }

@media (min-width: 1200px) {
  .container {
    max-width: 1384px !important; } }

.btn {
  line-height: 1.438;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 0 10px;
  overflow: hidden;
  height: 50px;
  border-radius: 0; }
  @media (max-width: 549px) {
    .btn {
      font-size: 1rem; } }
  .btn-red {
    background-color: #E7332B;
    color: #FFFFFF; }
    .btn-red:hover {
      background-color: #004798;
      color: #FFFFFF; }
  .btn-add {
    width: 174px;
    font-size: 0.875rem;
    font-weight: 700; }
  .btn-blue {
    background: #004798;
    color: #FFFFFF; }
    .btn-blue:hover {
      background-color: #E7332B;
      color: #FFFFFF; }
  .btn-gray {
    background: #EEF2F8;
    color: #004798; }
    .btn-gray:hover {
      background: #004798;
      color: #FFFFFF; }
  .btn-sm {
    height: 40px;
    font-size: 0.875rem; }
  .btn-border {
    background: #FFFFFF;
    border: 1px solid #004798;
    color: #004798;
    font-size: 1rem;
    padding: 0 16px; }
    .btn-border:hover {
      background: #004798;
      color: #FFFFFF; }

.form-control-primary {
  padding: 0 10px;
  font-size: 1.125rem;
  font-weight: 400;
  height: 50px;
  width: 100%;
  color: #004798 !important;
  background: #FFFFFF;
  border: 1px solid #004798;
  border-radius: 0; }
  .form-control-primary::placeholder {
    color: #004798; }
  .form-control-primary:focus {
    border: 1px solid #000000; }

.form-control-gray {
  background-color: #EEF2F8;
  border: 0;
  border-radius: 0;
  height: 40px;
  font-weight: 500;
  font-size: 1rem;
  color: #004798; }
  .form-control-gray:hover, .form-control-gray:focus {
    background-color: #EEF2F8;
    color: #004798; }
  .form-control-gray::placeholder {
    color: rgba(0, 71, 152, 0.4); }

.form-control-date {
  background-image: url(../images/icons/date.svg);
  background-repeat: no-repeat;
  background-position: 95% center; }

.form-upload {
  max-width: 477px; }
  .form-upload__input {
    display: block;
    width: 100%;
    height: 150px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
  .form-upload__label {
    width: 100%;
    height: 150px;
    border: 1px dashed #004798;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem; }
    .form-upload__label b {
      font-weight: 700;
      text-decoration: underline;
      margin-top: 10px; }

.form-add {
  background: #EEF2F8;
  width: 48px;
  height: 40px;
  cursor: pointer; }

.modal-title {
  font-size: 1.125rem;
  color: #004798;
  font-weight: 700;
  margin: 50px 0 40px 0; }

.modal-close {
  position: absolute;
  right: 14px;
  top: 14px;
  box-shadow: none;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/close.svg) no-repeat center;
  background-size: contain;
  opacity: 1; }

.carousel__button.is-close svg {
  display: none !important; }

.zero__head {
  padding: 80px 100px;
  padding-bottom: 0; }
  @media (max-width: 991px) {
    .zero__head {
      padding: 64px 55px;
      padding-bottom: 0; } }
  @media (max-width: 767px) {
    .zero__head {
      padding: 30px;
      padding-bottom: 100px; }
      .zero__head img {
        height: 35px; } }

.zero__form {
  width: 413px;
  padding: 60px 30px; }
  @media (max-width: 991px) {
    .zero__form {
      width: 395px; } }
  @media (max-width: 767px) {
    .zero__form {
      width: 100%;
      padding-top: 0; } }

.zero__foot {
  margin-bottom: 64px;
  height: 60px; }
  @media (max-width: 991px) {
    .zero__foot {
      margin-bottom: 50px;
      margin-right: 50px; } }
  @media (max-width: 767px) {
    .zero__foot {
      display: none; } }
  .zero__foot:before {
    position: absolute;
    content: '';
    width: 100%;
    left: -70%;
    top: 0;
    bottom: 0;
    background: #004798;
    z-index: -1; }
    @media (max-width: 1199px) {
      .zero__foot:before {
        display: none; } }
  .zero__foot-image {
    width: 1628px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: none; }

.zero__logo {
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    .zero__logo {
      margin-top: -26px;
      margin-bottom: 40px; } }
  @media (max-width: 991px) {
    .zero__logo img {
      width: 222px; } }

.zero__body {
  padding: 0 100px; }
  @media (max-width: 767px) {
    .zero__body {
      padding: 0; } }

.zero__imgs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden; }
  .zero__imgs span {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .zero__imgs span {
        bottom: 325px; } }
