extends pug/base

prepend vars
	- title = 'TEBOIL'
	- description = ''
	- image = ''

append vars
	- link.icon = './favicon.png'

block content
	include pug/data
	.app.flex.flex-col.min-h-screen
		include pug/pages/B2C-сustomer
		include pug/components/footer
