extends pug/base

prepend vars
	- title = 'TEBOIL'
	- description = ''
	- image = ''

append vars
	- link.icon = './favicon.png'

block content
	include pug/data
	- e = data
	- bread = e.bread[0]
	.app.d-flex.flex-column.min-h-screen
		include pug/components/header-2
		include pug/pages/B2C-client
		include pug/components/footer-2
