extends pug/base

prepend vars
	- title = 'TEBOIL'
	- description = ''
	- image = ''

append vars
	- link.icon = './favicon.png'

block content
	include pug/data
	- e = data
	- bread = e.bread[9]
	.app.d-flex.flex-column
		include pug/components/header-1
		include pug/pages/help
		include pug/components/footer-1
