.app {
  min-width: 300px;
}
.js-lazy {
	opacity: 0;
	transition: $duration-normal;
	&.is-loaded {
		opacity: 1;
	}
}
.link {
  &-blue {
    color: rgba(0, 71, 152, 1);
    border-bottom: 1px solid rgba(0, 71, 152, 0.8);
    &:hover {
      color: rgba(0, 71, 152, 1);
      border-bottom: 1px solid rgba(0, 71, 152, 0);
      transition: all 0.3s ease;
    }
  }
}
picture {
  width: 100%;
  img {
    width: 100%;
  }
}
