.form {
  &-control {
    &-primary {
      padding: 0 10px;
      font-size: $fs-18;
      font-weight: 400;
      height: 50px;
      width: 100%;
      color: #004798 !important;
      background: #FFFFFF;
      border: 1px solid #004798;
      border-radius: 0;
      &::placeholder {
        color: #004798;
      }
      &:focus {
        border: 1px solid #004798;
      }
    }
  }
}
