.modal {
  display: none;
  padding: 30px;
  border-radius: 0;
  width: 100%;
  max-width: 533px;
  &__title {
    font-size: $fs-18;
    color: rgba(0, 71, 152, 1);
    font-weight: 700;
    padding-top: 10px;
  }
}

.fancybox__backdrop {
  background: #004798 !important;
}
.carousel__button.is-close {
  right: 14px !important;
  top: 14px !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 24px !important;
  height: 24px !important;
  background: url(../images/icons/close.svg) no-repeat center !important;
  background-size: contain !important;

  svg {
    display: none !important;
  }

}
