.modal {
  &-title {
    font-size: $fs-18;
    color: rgba(0, 71, 152, 1);
    font-weight: 700;
    margin: 50px 0 40px 0;
  }
  &-close {
    position: absolute;
    right: 14px;
    top: 14px;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    background: url(../images/icons/close.svg) no-repeat center;
    background-size: contain;
    opacity: 1;
  }
}

.carousel__button.is-close {


  svg {
    display: none !important;
  }

}
