.modal {
  display: none;
  padding: 30px;
  border-radius: 0;
  width: 100%;
  max-width: 533px;
  &__title {
    font-size: $fs-18;
    color: rgba(0, 71, 152, 1);
    font-weight: 700;
    padding-top: 10px;
  }
}

.fancybox__backdrop {
  background: #004798 !important;
}
.carousel__button.is-close {
 display: none !important;
}
