$cl-white: rgba(255, 255, 255, 1);
$cl-black: rgba(0, 0, 0, 1);

$font-primary: "Montserrat", sans-serif;

$fs-base: 16px;
$fs-8: 0.5rem;
$fs-9: 0.563rem;
$fs-10: 0.625rem;
$fs-11: 0.688rem;
$fs-12: 0.75rem;
$fs-13: 0.8125rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$fs-16: 1rem;
$fs-17: 1.0625rem;
$fs-18: 1.125rem;
$fs-19: 1.1875rem;
$fs-20: 1.25rem;
$fs-21: 1.313rem;
$fs-22: 1.375rem;
$fs-23: 1.438rem;
$fs-24: 1.5rem;
$fs-25: 1.563rem;
$fs-26: 1.625rem;
$fs-27: 1.688rem;
$fs-28: 1.75rem;
$fs-29: 1.813rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-33: 2.063rem;
$fs-34: 2.125rem;
$fs-35: 2.188rem;
$fs-36: 2.25rem;
$fs-37: 2.313rem;
$fs-38: 2.375rem;
$fs-39: 2.438rem;
$fs-40: 2.5rem;
$fs-42: 2.625rem;
$fs-44: 2.75rem;
$fs-45: 2.813rem;
$fs-46: 2.875rem;
$fs-48: 3rem;
$fs-50: 3.125rem;
$fs-52: 3.25rem;
$fs-54: 3.375rem;
$fs-55: 3.438rem;
$fs-56: 3.5rem;
$fs-60: 3.75rem;
$fs-64: 4rem;
$fs-65: 4.063rem;
$fs-80: 5rem;
$fs-85: 5.313rem;
$fs-90: 5.625rem;
$fs-100: 6.25rem;

$duration-normal: 0.3s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1);
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06);
$easing-out: ease-out;
$easing-in: ease-in;

$desktop-xxl: 1999;
$desktop-xl: 1560;
$desktop-x: 1400;
$desktop: 1200;
$laptop: 992;
$mobile: 768;
$mobile-s: 550;
